.cat-fact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fact-card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.fact-card h1 {
    font-size: 24px;
}

.fact-card p {
    font-size: 18px;
    margin-bottom: 20px;
}